.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-logo {
  font-size: 48px;
  color: #dd153c;
}

.App-title {
  font-size: 36px;
  padding: 20px;
}

.App-intro {
  text-align: left;
}

.MixedInput {
  margin: 20px;
  width: 400px;
  height: 400px;
}

#OutputContent {
  margin: 20px;
}

#VisualizeButton {
  margin: 20px;
  display: block;
}
